.background {
    -fx-background-color: #2E2E36;
    background-color: #2E2E36; /* Used in the default.html file */
}

.root {
    -tab-text-color: #888888;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #2E2E36;
    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
}

.table-view {
    -fx-base: #2E2E36;
    -fx-control-inner-background: #2E2E36;
    -fx-background-color: #2E2E36;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #2E2E36;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #2E2E36;
}

.list-cell {
    -fx-padding: 10px;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0px, 2px;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #2E2E36;
}

.list-cell:empty {
    -fx-background-color: #2E2E36;
    -fx-padding: 2px;
    -fx-background-insets:0;
}

.list-cell:filled:even {
    -fx-background-color: #2E2E36;
}

.list-cell:filled:odd {
    -fx-background-color: #2E2E36;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Eczar";
    -fx-font-size: 14px;
    -fx-text-fill: #010504;
}

.cell_categories {
    -fx-font-size: 14px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Eczar";
    -fx-font-size: 14px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: #2E2E36;
     -fx-hgap: 7;
}

.command-box {
     -fx-background-color: #3B3B44 !important;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}

.result-container {
     -fx-background-color: #3B3B44;
     -fx-background-insets: 3, 3, 3, 3;
     -fx-background-radius: 10, 10, 10, 10;
     -fx-border-radius: 10, 10, 10, 10;
     -fx-padding: 5 8 5 5;
     -fx-border-insets: 5, 5, 5, 5;
     -fx-border-color: #3B3B44;
}

.pane-with-border {
     -fx-background-color: #2E2E36;
     -fx-border-color: #2E2E36;
     -fx-border-top-width: 1px;
}

.right-panel {
     -fx-background-color: #3B3B44;
     -fx-border-color: #3B3B44;
     -fx-border-top-width: 1px;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}

.right-panel-content {
     -fx-font-family: "Roboto Condensed";
     -fx-text-fill: white;
     -fx-font-size: 16pt;
     -fx-line-spacing: 10px;
}

.command-pane{
    -fx-background-color: #2E2E36;
    -fx-border-color: #2E2E36;
    -fx-border-top-width: 1px;
    -fx-padding: 3 5 3 19;
}

.status-bar {
    -fx-background-color: #2E2E36;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Eczar";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Eczar";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #2E2E36;
    -fx-border-color: #2E2E36;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #2E2E36;
    -fx-border-color: #2E2E36;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #2E2E36;
}

.tab-pane .tab-header-area  .tab-header-background {
    -fx-background-color: #2E2E36;
    -fx-border-color: #2E2E36;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #2E2E36;
}

.tab-label {
    -fx-text-fill: -tab-text-color;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 24px;
}

.tab {
    -fx-background-color: #2E2E36;
    -fx-border-color: #2E2E36;
    -fx-text-fill: #888888;
    -fx-padding: 20, 0, 0, 0;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab:hover .tab-label {
    -fx-text-fill: white;
}

#helpButton {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 24px;
    -fx-text-fill: #888888;
    -fx-padding: 20, 0, 0, 0;
}

#helpButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.tab-pane .label {
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto Condensed";
    -fx-text-fill: white;
}

.command-box-label {
    -fx-background-color: #2E2E36;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 12pt;
}

.panel-label {
    -fx-font-family: "Roboto Condensed";
    -fx-text-fill: white;
    -fx-font-size: 18pt;
}

.command-box-button {
    -fx-opacity: 1;
    -fx-background-color: #3B3B44;
    -fx-border-color: #3B3B44;
    -fx-border-radius: 5, 4;
    -fx-background-radius: 5, 4;
    -fx-background-insets: 0,3,2,3;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button:pressed, .button:default:hover:pressed {
     -fx-background-color: white;
     -fx-text-fill: #1d1d1d;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #3B3B44;
    -fx-text-fill: #d8d8d8;
}

.dialog-pane {
    -fx-background-color: #2E2E36;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #2E2E36;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #2E2E36;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #3B3B44;
}

.scroll-bar .thumb {
    -fx-background-color: #C4C4C4;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: #3B3B44;
    -fx-border-width: 0;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #2E2E36 transparent #2E2E36;
    -fx-background-insets: 0;
    -fx-border-color: #2E2E36 #2E2E36 #2E2E36 #2E2E36;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #3B3B44;
    -fx-border-color: transparent, #3B3B44, transparent, #3B3B44;
    -fx-background-radius: 0;
}

#categories {
    -fx-hgap: 5;
    -fx-vgap: 3;
    -fx-background-insets: 10;
}

#categories .label {
    -fx-font-family: "Eczar";
    -fx-text-fill: white;
    -fx-background-color: #4527A0;
    -fx-padding: 3 7 3 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 13;
}
